[submodule "Core/ThirdParty/glfw"]
	path = Core/ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Core/ThirdParty/glm"]
	path = Core/ThirdParty/glm
	url = https://github.com/g-truc/glm.git
